@import '../../../styles/variables';

.wrapper_form_postion {
	height: 100vh;
	background-color: #fff;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 18px;
	padding: 16px 20px;
	flex-wrap: wrap;
	border-bottom: 1px solid #eaedf2;
}

.title {
	color: #2f3d50;
	font-size: 24px;
	font-weight: 600;
}

@media (max-width: $widthTablet) {
	.head {
		padding: 8px 16px;
	}
	.title {
		font-size: 20px;
	}
}
