@import '../../../../../styles/variables';

.container {
	height: 100%;
	width: $width-tab;
	display: flex;
	flex-direction: column;
	padding: 12px;
	background-color: #fff;
	transition: width 0.2s linear;
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 8px;
	margin-bottom: 16px;
}

.menu_line {
	cursor: pointer;
	user-select: none;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

.menus {
	flex: 1;
	width: 100%;
	overflow: auto;
	padding-top: 12px;
}

.menu {
	& > h5 {
		color: #777e90;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	.tab {
		cursor: pointer;
		user-select: none;
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px 12px;
		border-radius: 8px;
		background-color: #fff;
		transition: 0.2s;

		.icon {
			color: #697586;
		}

		& > p {
			color: #374151;
			font-size: 16px;
			font-weight: 500;
		}

		&.active {
			background-color: #20c874;

			.icon {
				color: #fff;
			}

			& > p {
				color: #fff;
			}
		}

		&:hover {
			background-color: #20c874;

			.icon {
				color: #fff;
			}

			& > p {
				color: #fff;
			}
		}

		& + .tab {
			margin-top: 4px;
		}
	}

	& + & {
		margin-top: 16px;
	}
}

.line {
	width: 100%;
	height: 1px;
	background-color: #f4f5f6;
	margin-top: 12px;
}

.actions {
	padding: 12px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.action {
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: 0.3s;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		transform: scale(0.8);
	}

	.action_icon {
		color: #202939;
	}

	.noti {
		position: absolute;
		top: -6px;
		right: -6px;
		width: 18px;
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		border: 1px solid #eaedf2;
		background: #e03;
		color: #fff;
		font-size: 8px;
		font-weight: 500;
	}
}

.profile {
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 8px;
	border: 1px solid #eaedf2;
	background: #f4f6f9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

.info {
	display: flex;
	gap: 8px;

	.name {
		& > h5 {
			color: #1f2a37;
			font-size: 14px;
			font-weight: 500;
		}

		& > p {
			color: #697586;
			font-size: 14px;
			font-weight: 500;
		}
	}
}

.container.small {
	width: $width-tab-small;
	padding: 12px 8px;

	.head {
		justify-content: center;

		.logo {
			display: none;
		}
	}

	.menu_line {
		transform: rotate(-180deg);
	}

	.menus {
		padding-top: 0px;
	}

	.menu {
		& > h5 {
			display: none;
		}

		.tab {
			justify-content: center;

			& > p {
				display: none;
			}
		}

		& + .menu {
			margin-top: 4px;
		}
	}

	.actions {
		flex-direction: column;
		gap: 12px;
	}

	.profile {
		padding: 4px;
		justify-content: center;
	}

	.info {
		display: none;
	}
}
