@import '../../../styles/variables';

.tabs {
	overflow: auto;
	white-space: nowrap;
	padding-bottom: 4px;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding-bottom: 4px;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		height: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background: #aaa;
		border-radius: 3px;
	}

	.tab {
		flex-shrink: 0;
		min-width: 60px;
		cursor: pointer;
		user-select: none;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		padding: 8px 20px;
		border-radius: 8px;
		background: #fff;
		color: #202939;
		border: 1px solid #eaedf2;

		& + .tab {
			margin-left: 8px;
		}

		&.active {
			color: #fff;
			background: #2c3441;
			border: 1px solid #2c3441;
		}
	}
}

@media (min-width: $widthMobile) and (max-width: $widthTablet) {
	.tab {
		font-size: 14px;
	}
}

@media (max-width: $widthMobile) {
	.tab {
		font-size: 13px;
	}
}
